.pure-button {
  position: relative;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.register-btn {
  padding: 12px 30px 10px 30px;
  border: 2px solid #2980b9;
  font-size: 16px;
  line-height: 14px;
}
.log-in-btn {
  font-size: 16px;
}

.reg-now-button{
  background-color: $mainGreen;
  border: 0;
  color: #fff;
  @include transition(background 500ms);
  &:hover {
    background: lighten($mainGreen, 10);
  }

}

.learn-more-btn{
  display: inline-block;
  border: 2px solid #fff;
  text-decoration: none;
  padding: 18px 78px;
  @include transition(background 500ms, color 500ms);
  .fa:first-child {
    margin-right: 18px
  }
  .fa:last-child {
    margin-left: 18px
  }
  &:hover {
    color: #2c81ba;
    background: #fff;
  }
}

.col-xs-6 {
  .btn {
    border: none;
    width:100%;
    background: #fff;
    font-weight: $fontSizeBold;
    border-radius: 0;
  }


  &.log-in {
    padding-right: 0;
    .btn {
      padding: 30px 0px 26px;
      background: $mainGreen;
      color: #fff;
      @include transition(background 500ms);
      &:hover {
        background: lighten($mainGreen, 10);
      }
    }

  }

  &.forgot-pw {
    padding-left: 0;
    .btn {
      color: #7f8c8d;
      padding: 30px 0px 26px;
      background: #fff;
    }
  }
}

.btn-my-submit {
  width: 100%;
  border-radius: 0;
  background: $mainGreen;
  height: 62px;
  font-weight: $fontSizeBold;
  font-size: 12px;
  color: #fff;
  @include transition(background 500ms);
  &:hover {
    background: lighten($mainGreen, 10);
    color: #fff;
  }
}

.add-client-btn {
  height: 38px;
  border: none;
  background: $mainBlue;
  padding: 0;
  color: #fff;
  width: 132px;
  &:focus {
    outline: none;
  }
  @include transition(background 500ms);
  &:hover {
    background: lighten($mainBlue, 10);
  }
}

.btn-remove {
  color: #7f8c8d;
  border: 0;
}

.add-project-btn {
  height: 38px;
  border: none;
  background: $mainBlue;
  padding: 0;
  color: #fff;
  width: 132px;
  &:focus {
    outline: none;
  }
  @include transition(background 500ms);
  &:hover {
    background: lighten($mainBlue, 10);
  }
}

.select-workers-btn {
  text-align: center;
  height: 38px;
  border: none;
  background: $mainBlue;
  padding: 0;
  color: #fff;
  width: 132px;
  &:focus {
    outline: none;
  }
  @include transition(background 500ms);
  &:hover {
    background: lighten($mainBlue, 10);
  }
}

.add-part-btn {
  height: 38px;
  border: none;
  background: $mainGreen;
  padding: 0;
  color: #fff;
  width: 132px;
  &:focus {
    outline: none;
  }
  @include transition(background 500ms);
  &:hover {
    background: lighten($mainGreen, 10);
  }
}


.workers-btn {
  font-family: $robotoFont;
  width: 132px;
  height: 38px;
  background: $mainGreen;
  color: #fff;
  border-radius: 0;
  text-align: center;
  padding: 8px;
  font-weight: $fontSizeLight;
  @include transition(background 500ms);
  &:hover {
    background: lighten($mainGreen, 10);
  }
}

.action_btn {
  border-radius: 0;
  background: $mainBlue;
  color: #fff;
  &:hover {
    color: #fff;
    background: lighten($mainBlue, 10);
  }
}

.edit-acc-save-btn {
  width: 100%;
  border-radius: 0;
  background-color: $mainBlue;
  border: 0;
  &:hover {
    background-color: lighten($mainBlue, 10);
  }
}