.pure-button {
  position: relative;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.register-btn {
  padding: 12px 30px 12px 30px;
  border: 2px solid #2980b9;
  font-size: 16px;
  line-height: 14px;
}
.log-in-btn {
  font-size: 16px;
}

.reg-now-button{
  background-color: #68ba2e;
  border: 0;
  color: #fff;

}

.learn-more-btn{
  display: inline-block;
  border: 2px solid #fff;
  text-decoration: none;
  padding: 18px 78px;
  @include transition(background 500ms, color 500ms);
  .fa:first-child {
    margin-right: 18px
  }
  .fa:last-child {
    margin-left: 18px
  }
  &:hover {
    color: #2c81ba;
    background: #fff;
  }
}

.col-xs-6 {
  .btn {
    border: none;
    width:100%;
    background: #fff;
    font-weight: $fontSizeBold;
    border-radius: 0;
  }


  &.log-in {
    padding-right: 0;
    .btn {
      padding: 30px 0px 26px;
      background: #68ba2e;
      color: #fff;
    }
  }

  &.forgot-pw {
    padding-left: 0;
    .btn {
      color: #7f8c8d;
      padding: 30px 0px 26px;
      background: #fff;
    }
  }
}




