
#myregisterform {
  margin-bottom: 30px;
  .column {
    @include transition(background 600ms);
    float: left;
    height: 70px;
    border: 0px solid;
    .my-label{
      color: #bdc3c7;
      padding: 17px 0 0 16px;
      font-size: 12px;
      font-weight: $fontSizeBold;
    }
    &.my-border {
      border-right: 1px solid;
      border-color: #e2eef0;
    }
    &.white {
      background: #fff;
    }
    &.details-column {
      width: 23%;
      &.focused {
        background: #f2f6fa;
        .my-input {
          background: #f2f6fa;
        }
      }
    }
    &.submit-column {
      width: 31%;
      [type="submit"] {
        width: 100%;
        display: block;
        border: none;
        height: 100%;
      }
    }
  }

  .my-input {
    @include transition(background 600ms);
    padding: 0 0 0 16px;
    border: none;
    width: 200px;
  }

  .registering-rules {
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: #fff;
    font-weight: $fontSizeLight;
    a {
      font-weight: $fontSizeBold;
      text-decoration: underline;
    }
  }
}

#id_devise-log-in {
  position: relative;
  background: #fff;
  margin-top: 200px;
  width: 374px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .my-label {
    color: #bdc3c7;
  }

  .my-placeholder {
    color: #7f8c8d;
    font-size: 14px;
    border: none;
    background: transparent;
  }

  .title-line {
    font-weight: $fontSizeRegular;
    font-size: 18px;
    text-align: left;
    padding: 30px 0 24px 16px;
    border: 1px solid #efefef;

  }

  .input-line {
    @include transition(background 500ms);
    font-weight: $fontSizeRegular;
    font-size: 12px;
    text-align: left;
    padding: 15px 16px;
    border: 1px solid #efefef;
    border-top: none;
    position: relative;
    &.focused {
      background: #f2f6fa;
    }
  }

  .input-lines.error {
    .my-label {
      // color: 
    }
    // @include transition(background 500ms);
    background: #fff1f1;
    .input-line {
      &.focused {
        background: #fccdcd;
      }
    }
  }

  .buttons-line {
    font-size: 14px;
    font-weight: $fontSizeBold;
    border: 1px solid #efefef;
    border-top: none;
  }

}

#id_register {
  position: relative;
  background: #fff;
  margin-top: 200px;
  width: 374px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .my-label {
    color: #bdc3c7;
  }

  .my-input {
    @include transition(background 500ms);
    color: #7f8c8d;
    font-size: 14px;
    border: none;
    background: transparent;
  }

  .title-line {
    font-weight: $fontSizeRegular;
    font-size: 18px;
    text-align: left;
    padding: 30px 0 24px 16px;
    border: 1px solid #efefef;

  }

  .input-line {
    @include transition(background 500ms);
    font-weight: $fontSizeRegular;
    font-size: 12px;
    text-align: left;
    padding: 15px 16px;
    border: 1px solid #efefef;
    border-top: none;
    position: relative;
    &.focused {
      background: #f2f6fa;
      .my-placeholder {
        background: #f2f6fa;
      }
    }
  }

  .buttons-line {
    font-size: 14px;
    font-weight: $fontSizeBold;
    border: 1px solid #efefef;
    border-top: none;
  }
  .registering-rules {
    padding: 10px;
    margin: 0;
    font-size: 10px;
    color: #929491;
    font-weight: $fontSizeLight;
    a {
      color: #929491;
      font-weight: $fontSizeBold;
      text-decoration: underline;
    }
  }

  .controls {
    position: relative;
  }
  .help-inline {
    position: absolute;
    top: 15px;
    right: 18px;
    font-size: 9px;
    text-align: right;
  }
  .clearfix.error {
    .my-label {
      color: #bd4247;
    }
  }

}


#id_register .input-line.error {
  background: #fff1f1;
  &.focused {
    background: #fccdcd;
  }
}

#cockpit {
  position: relative;
  background: #fff;
  margin-top: 16px;
  .my-label {
    color: #bdc3c7;
    display: block;
  }

  .clearfix.error {
    .my-label {
      color: #bd4247;
    }
  }
  .bordered-top {
    border-top: 1px solid #efefef;
  }

  .my-input {
    @include transition(background 500ms);
    color: #7f8c8d;
    font-size: 14px;
    border: none;
    background: transparent;
  }

  .controls {
    position: relative;
  }
  .help-inline {
    position: absolute;
    top: 11px;
    right: 25px;
    font-size: 12px;
    text-align: right;
  }

  .input-line {
    @include transition(background 500ms);
    font-weight: $fontSizeRegular;
    font-size: 12px;
    text-align: left;
    padding: 10px 14px;
    border: 1px solid #efefef;
    border-top: none;
    max-height: 64px;

    &.focused {
      background: #f2f6fa;
    }
    .row {
      .col-md-6:first-child {
        border-right: 1px solid #efefef;
      }
    }
  }

  .submit-line {
    height: 100%;
    width: 100%;
    font-size: 12px;
    font-weight: $fontSizeBold;
    border: 1px solid #efefef;
    border-top: none;
  }
}

#cockpit .control-group.error {
  background: #fff1f1;
}
#cockpit .controls {
  // background: #fff1f1;
  &.focused {
    background: #fccdcd;
  }
}


#cockpit .control-group.error .col-md-6 {
  background: #fff1f1;
}


#id_add-client-form {
  .row{
    position: relative;
    padding: 0;
  }
}

#id_edit-account {
  background: #EBF0F3;
  width: 300px;
  .control-label {
    padding: 10px 10px;
    color: #bdc3c7;
  }
  .my-input {
    background: #EBF0F3;
    padding: 5px 10px;
    color: #7f8c8d;
    border: none;
  }
}

#id_add-project-form {
  padding: 15px 15px;
  .row{
    position: relative;
    padding: 0;
 }

}