header {
  height: 114px;
}

body {
  background: #ebf0f3;
  margin: 0 0 104px; /* bottom = footer height */
  

}

html {
  position: relative;
  min-height: 100%;
}


.container {
  width: 970px;
}

.top-container {
  &.bg-img {
    background: image-url('background-image.png') center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

::-webkit-input-placeholder {
   color: #7f8c8d;
}
