header {
  // height: 114px;
}

body {
  background: #fff;
  margin: 0 0 104px; /* bottom = footer height */
}
.grey-bgrd {
  background: #ebf0f3;
}
.devise {
  background: #ebf0f3;
}

html {
  position: relative;
  min-height: 100%;
}


.container {
  width: 970px;
}

.top-container {
  &.bg-img {
    background: image-url('background-image.png') center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}


::-webkit-input-placeholder {
   color: #C1C3C7;
}

:-moz-placeholder {
   color: #C1C3C7;
}

::-moz-placeholder {
   color: #C1C3C7;
}

:-ms-input-placeholder {
   color: #C1C3C7;
}
