$brandColor: #0f0;
$mainBlue: #3498db;
$mainGreen: #68ba2e;

$robotoFont: 'Roboto', sans-serif;
$fontSizeRegular: 400;
$fontSizeBold: 700;
$fontSizeLight: 300;
$fontSizeMedium: 500;
$values: 15, 5, 10, -15,-10, 12, 0, 30, 20, 2, 3, 25, 8;