.sliding-field-client {
  position: absolute;
  right: 132px;
  max-width: 0px;
  width: 230px;
  height: 38px;
  padding: 0;
  border: 1px solid #fff;
  @include transition(all, 500ms);
  &.active {
    border-color: #e1ebf1;
    padding-left: 16px;
    max-width: 230px;
  }
}

.sliding-field-project {
  position: absolute;
  right: 132px;
  max-width: 0px;
  width: 230px;
  height: 38px;
  padding: 0;
  border: 1px solid #fff;
  @include transition(all, 500ms);
  &.active {
    border-color: #e1ebf1;
    padding-left: 16px;
    max-width: 230px;
  }
}

.sliding-field-part {
  background: none;
  max-width: 0px;
  width: 230px;
  height: 38px;
  padding: 0;
  // border: 1px solid #fff;
  border: 0;
  @include transition(all, 500ms);
  &.active {
    border-color: #e1ebf1;
    padding-left: 16px;
    max-width: 230px;
  }
}

/***********************************
bootstrap timepicker
************************************/

// .bootstrap-datetimepicker-widget {
//   font-size: 8px !important;
//   .dropdown-menu {
//     font-size: 8px !important;
//   }
// }

// .bootstrap-datetimepicker-widget table {
//   width: 200px;
//   height: 150px;
// }

// .timepicker {
//   & td {
//     height: 30px !important;
//     width: 30px !important;
//   }
// }

// .bootstrap-datetimepicker-widget th.next, .bootstrap-datetimepicker-widget th.prev {
//   font-size: 8px !important;
// }

// .bootstrap-datetimepicker-widget th.switch {
//   width: 100px;
// }

// .bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {
//   text-align: center;
//   width: 10px;
//   height: 10px;
//   border-radius: 4px;
// }

// .bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
//   width: 20px;
//   font-weight: bold;
//   font-size: 8px;
// }