.pagination {
  font-size: 14px;
  margin: 10px;
  margin-right: -15px;
  ul {
    li {
      display: inline;
      &.prev, &.next {
        background: $mainGreen;
        padding: 5px;
        color: #fff;
        font-size: 12px;
        &.disabled {
          background: #e74c3c;
        }
        a {
          color: #fff;
        }

      }
    }
  }
}

.container.division-chart-container {
  color: #99a9a9;
  .row {
    .col-md-6.right {
      padding-left: 0px !important;
    }
  }
}

#users_division_chart {
  width: 230px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

.forgot-pw-container {
  text-align: center;
}

.sliding-field-client {
  position: absolute;
  right: 132px;
  max-width: 0px;
  width: 230px;
  height: 38px;
  padding: 0;
  border: 1px solid #fff;
  @include transition(all, 500ms);
  &.active {
    border-color: #e1ebf1;
    padding-left: 16px;
    max-width: 230px;
  }
  &.create-fail {
    background: #fccdcd;
  }
}

.sliding-field-project {
  position: absolute;
  right: 132px;
  max-width: 0px;
  width: 230px;
  height: 38px;
  padding: 0;
  border: 1px solid #fff;
  @include transition(all, 500ms);
  &.active {
    border-color: #e1ebf1;
    padding-left: 16px;
    max-width: 230px;
  }
  &.create-fail {
    background: #fccdcd;
  }
}

.sliding-field-part {
  // background: none;
  max-width: 0px;
  width: 230px;
  height: 38px;
  padding: 0;
  border: 1px solid #eaf1f5;
  background: #fff;
  @include transition(all, 500ms);
  &.active {
    border-color: #e1ebf1;
    padding-left: 16px;
    max-width: 230px;
  }
  &.create-fail {
    background: #fccdcd;
  }
}


.parts_wrapper {
  .control-group {
    .form_name {
      height: 20px;
    }
    a {
      color: $mainGray;
      font-size: 12px;
    }
  }
  .action_btn {
    font-size: 12px;
    margin-left: -4px;
    height: 20px;
    padding: 0 8px;
    margin-top: -2px;
    &:hover {
      color: #fff;
    }
  }
}

.dropdown-menu {
  max-width: 200px;
  left: auto;
  right: 0;
}

.dropdown-menu > li > a {
  overflow: hidden;
  text-overflow: ellipsis;
}


.edit-acc-container {
}


/***********************************
bootstrap timepicker
************************************/
.dropdown-menu {
  font-size: 10px;
}

.only-timepicker.dropdown-menu {
  min-width: 0;
}

.only-timepicker.bootstrap-datetimepicker-widget {
  .table-condensed > tbody > tr > td {
    padding: 0;
    .separator {
      width: 20px;
    }
  }
  font-size: 10px;
  .glyphicon {
    margin: 0 !important;
  }
  a {
    padding: 0;
    color: #000;
    font-size: 10px;
  }
  width: 130px !important;
}

.only-timepicker.bootstrap-datetimepicker-widget td span {
  padding-top: 6px;
  height: 24px !important;
  width: 24px !important;
  line-height: 10px;
}

.only-timepicker.bootstrap-datetimepicker-widget td {
  height: 24px !important;
  width: 24px !important;
  line-height: 10px;
}

.only-timepicker.bootstrap-datetimepicker-widget tr {
  height: 26px;
  width: 40px;

}


