.alert.alert-warning.m-t-10
  | Ooops! Wygląda na to, że nic tu nie ma. Idź do 
  = link_to "Klienci", backend_clients_path
  |  , aby dodać nowego klienta, następnie stwórz nowy projekt dla danego klienta.