.alert.alert-warning.m-t-10.my-alert-colors
  | Jeszcze nie zalogowałeś czasu pracy w żadnym projekcie. Aby dodać jakąkolwiek aktywność , musisz posiadać przynajmniej jedno zadanie w jakimkolwiek projekcie.