%a.muted.form-toggle{"data-toggle" => "form", :href => "#"}
  %h4
    %i.icon-plus
    Dodaj projekt
.form_wrapper
  = form_for [:backend, @project], html: {:class => 'form-inline'} do |f|
    %h4
      = hidden_field_tag :client_id, client.id
      = f.text_field :name, {:placeholder => 'Nazwa projektu'}
      %button.btn.btn-primary{:type => 'submit'}
        %i.icon-plus
        Dodaj projekt
      %a.cancel{href: "#"}
        Anuluj
