.well.well-small
  %a.muted.form-toggle{"data-toggle" => "form", :href => "#"}
    %h4
      %i.icon-plus
      Dodaj pracownika
  .form_wrapper
    = form_for [:backend, @user], html: {:class => 'form-inline'} do |f|
      .control-group
        = f.text_field :name, {:placeholder => 'Imię i Nazwisko', :id => ""}
        = f.text_field :email, {:placeholder => 'Email', :id => ""}
        %button.btn.action_btn{:type => 'submit'}
          %i.icon-plus
          %span.action_text Dodaj pracownika
        %a.cancel{href: "#"}
          Anuluj
