.user_element
  %label.badge.badge-info.pull-right= user.time_worked_general_for_client client
  = image_tag user.gravatar_url, :class => "img-polaroid img-mini"
  %span.user_name= user.name
  .clearfix
